* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #00ac47;
    color: aliceblue;
}

/* ------------ Table ------------ */

#table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
} 
td{
    border: 2px solid black;
    min-width: 100px;
    max-width: 100px;
    padding: 8px 4px;
    font-size: 18px;
}
input{
    border: none;
    box-shadow: none;
    outline: none;
}
input[type=number]:focus {
    outline: none !important;
    border: 2px solid #00ac47;
    box-shadow: -1px 1px 20px -11px #00ac47;
}